
__pycache__/
miyamoto/__pycache__/
.idea/
build/
dist/
distrib/
miyamotodata/patches/
*.qpp
*.spec
build.bat
build_32.bat
dlls.zip
log.txt
settings.ini
settings.ini.bak
.venv/*
intel_deps
universal_venv
addrlib
bc3
*.so
*.c
/linuxTools
/macTools
/Tools
/pyamoto.dmgcanvas
/Pyamoto.egg-info
.DS_Store
pyamoto.sh
